*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* slide-1 */

.slide-1{
    background-image: url(../assets/img/bg-masthead.jpg);
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-sld-1{
    margin-bottom: 30px;
}

.txt-sld-1 h1{
    font-size: 80px;
}

.txt-sld-1 p{
    font-size: 25px;
}

.card-sld-1 input{
    width: 150px;
    height: 50px;
}

/* slide-2 */

.slide-2{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-sld-2{
    margin-bottom: 30px;
}

.txt-sld-2 h1{
    font-size: 30px;
}

.txt-sld-2 p{
    font-size: 20px;
}

.card-sld-2 input{
    width: 150px;
    height: 50px;
}

/* slide-3 */

.slide-3{
    background-color: #1678A2;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-sld-3{
    width: 100%;
    height: 500px;
    margin-top: 180px;
}

.txt-sld-3{
    margin-bottom: 50px;
}

.txt-sld-3 p{
    color: rgb(255, 187, 0);
}

.txt-sld-3 h1{
    color: white;
}

.icon{
    display: flex;
    justify-content: space-evenly;
}

.icon-crcl{
    display: flex;
    justify-content: center;
}

.circel{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 100%;
}

.txt-crcl h3{
    color: white;
}

.txt-crcl p{
    color: white;
}

/* slide-4 */

.slide-4{
    background-image: url(../assets/img/bg-callout.jpg);
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-sld-4{
    margin-bottom: 30px;
}

.txt-sld-4 h1{
    font-size: 60px;
}

.card-sld-4 input{
    width: 150px;
    height: 50px;
}

/* slide-5 */

.slide-5{
    width: 100%;
    height: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-sld-5{
    width: 1200px;
    height: 1200px;
}

.card-txt-sld-5{
    width: 1200px;
    height: 150px;
}

.card-prtfl{
    width: 1200px;
    height: 900px;
}

.portofolio{
    display: flex;
}

.img-1{
    background-image: url(../assets/img/portfolio-1.jpg);
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: end;
    color: white;
}
.img-2{
    background-image: url(../assets/img/portfolio-2.jpg);
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: end;
    color: white;
}
.img-3{
    background-image: url(../assets/img/portfolio-3.jpg);
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: end;
    color: white;
}
.img-4{
    background-image: url(../assets/img/portfolio-4.jpg);
    width: 600px;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: end;
    color: white;
}

.img-txt{
    margin: 0px 0px 20px 20px;
}

.img-1 {
    transition: transform 0.3s ease;
}

.img-1:hover {
    transform: scale(0.95);
}
.img-2 {
    transition: transform 0.3s ease;
}

.img-2:hover {
    transform: scale(0.95);
}
.img-3 {
    transition: transform 0.3s ease;
}

.img-3:hover {
    transform: scale(0.95);
}
.img-4 {
    transition: transform 0.3s ease;
}

.img-4:hover {
    transform: scale(0.95);
}

/* slide-6 */

.slide-6{
    background-color: #1678A2;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt-sld-6{
    color: white;
    margin-bottom: 30px;
}

.button-sld-6 input{
    width: 150px;
    height: 50px;
}

/* slide-7 */

.slide-7{
    background-image: url(../assets/img/map.jpg);
    width: 100%;
    height: 550px;
}

.card-crcl-7{
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 15px;

}

.crcl-7{
    background-color: #1678A2;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.crcl-7 {
    transition: transform 0.3s ease;
}

.crcl-7:hover {
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
}

/* slide-8 */

.slide-8{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}