div {
  width: 70%;
  margin: auto;
}

h1 {
  color: yellowgreen;
  border: 3px solid brown;
  position: sticky;
  top: 20px;
}

h2 {
  color: lightskyblue;
  border: 1px dashed gray;
}

p {
  border: 1px solid black;
  padding: 10px;
}

img {
  border: 1px solid black;
  margin: 10px;
}

ul li{
  background-color: aqua;
}

#paragraf{
  font-family: Arial, Helvetica, sans-serif;
}

.huruf{
  font-size: 30px;
}

.warna{
  background-color: chocolate;
}

.bentuk{
  font-style: italic;
}

.huruf-tebal{
  font-style: initial;
}