*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* baner */

.baner-1 img{
    width: 800px;
    height: 235px;
}

.baner-2 img{
    width: 400px;
    height: 115px;
}

.baner-3 img{
    width: 400px;
    height: 115px;
}

.baner-1{
    
    width: 800px;
    height: 235px;
    position: absolute;
    top: 150px;
    left: 158px;
}

.baner-2{
    width: 400px;
    height: 120px;
    
    position: absolute;
    top: 150px;
    left: 965px;
}

.baner-3{
    width: 400px;
    height: 120px;
    
    position: absolute;
    top: 270px;
    left: 965px;
}

/* icon */

.icon img{
    width: 48px;
    height: 48px;
    margin-bottom: 3px;
    box-shadow: 1px 2px 3px grey;
    border-radius: 13px;
}

.icon-1{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 400px;
    left: 208px;
}

.icon-2{
    width: 60px;
    height: 60px;
    
    position: absolute;
    top: 400px;
    left: 326px;
}

.icon-3{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 400px;
    left: 444px;
}

.icon-4{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 400px;
    left: 562px;
}

.icon-5{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 400px;
    left: 680px;
}

.icon-6{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 400px;
    left: 798px;
}

.icon-7{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 400px;
    left: 916px;
}

.icon-8{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 400px;
    left: 1034px;
}

.icon-9{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 400px;
    left: 1152px;
}

.icon-10{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 400px;
    left: 1270px;
}

/* font */

.text{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-align: center;
    position: absolute;
    left: -16px;
}