* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {
    width: 150px;
    display: block;
    margin: auto;
}

.header {
    margin: 1%;
    display: block;
}

.nav-left,
.nav-right {
    background: none;
    display: block;
}

.nav-left ul,
.nav-right ul {
    list-style: none;
}

.nav-left ul li, .nav-right ul li{
    background:none;
    margin-top: 15px;
}



.nav-left a,
.nav-right a {
    text-decoration: none;
    padding: 10px;
    color: rgb(177, 102, 177);
}

.nav-left a:hover,
.nav-right a:hover {
    background: skyblue;
}


@media screen and (min-width: 560px) {
    .header {
        width: 960px;
        margin: auto;
        display: flex;
        margin-top: 1%;
        justify-content: space-between;
    }

.nav-left, 
.nav-right{

}

    .nav-left ul,
    .nav-right ul {
        display: flex;
    }

    .nav-left a,
    .nav-right a {
        color: black;
    }
}